body {
	font-family: '맑은 고딕', 'NanumGothic', 'MalgunGothic';
}
header .container .row {
	border-bottom: 1px solid #eee;
}
.container {
	width: 1000px;
	margin: auto;
	margin-top: 20px;
}
.row {
	margin-bottom: 10px;
}
textarea {
	white-space: nowrap;
}
.checkbox-inline.no_indent {
	margin-left: 0;
	margin-right: 10px;
}